@import "mixins/colors";

* {
  letter-spacing: 0.08em
}

body {
  background-color: $background-body;
  color: $text-color;
}

#main-wrapper {
  #header {
    height: 60px;

    #logged-in-header {
      margin-top: 10px
    }
  }

  #content {
    h1, h2, h3 {
      font-weight: 200;
    }
  }
}