.login-container, .register-container {
  text-align: center;

  .panel {
    margin: auto;
    text-align: left;
    width: 500px;

    .panel-heading {
      h2 {
        margin: 0;
      }
    }
  }
}