<div id="main-wrapper"
     class="container-fluid full-height">

    <div id="header" class="row">
        <div class="col-xs-12">
            <header>
                <div id="logged-in-header" *ngIf="isLoggedIn">
                    <div class="col-xs-offset-3"></div>
                    <div class="col-xs-6"></div>
                    <div class="col-xs-3">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle"
                                    type="button"
                                    id="userButton"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false">
                                {{currentUser.username}}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="userButton">
                                <li>
                                    <a href="#">Settings</a>
                                </li>
                                <li>
                                    <a (click)="logout()" href="#">Logout</a>
                                </li>
                            </ul>
                        </div>

                        <!--<button (click)="logout()"-->
                        <!--class="pull-right btn btn-default">-->
                        <!--<span>Logout</span>-->
                        <!--</button>-->
                    </div>
                </div>

                <div id="logged-out-header" *ngIf="!isLoggedIn">
                </div>
            </header>
        </div>
    </div>

    <div id="content" class="row">
        <div class="col-xs-3">
            Left
        </div>
        <div class="col-xs-6">
            <router-outlet></router-outlet>
        </div>
        <div class="col-xs-3">
            Right
        </div>
    </div>

    <div id="footer"
         class="row">
        <footer>
            <div class="col-xs-offset-3 col-xs-6">
                Footer
            </div>
        </footer>
    </div>
</div>