<div id="main-wrapper"
     class="container-fluid full-height">
    <div id="header"
         class="row">
        <div class="col-xs-offset-3 col-xs-6">
            <button (click)="logout()"
                    class="pull-right btn btn-default">
                <span>Logout</span>
            </button>
        </div>
    </div>
    <div id="content"
         class="row">
        <div class="col-xs-3">
            Left
        </div>
        <div class="col-xs-6">
            <router-outlet></router-outlet>
        </div>
        <div class="col-xs-3">
            Right
        </div>
    </div>
    <div id="footer"
         class="row">
        <div class="col-xs-offset-3 col-xs-6">
            Footer
        </div>
    </div>
</div>