<div id="main-wrapper"
     class="container-fluid full-height">

    <div id="header" class="row">
        <div class="col-xs-12">
            <header>
                <div id="logged-in-header" *ngIf="currentUser">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-9">
                        <button class="btn btn-default"
                                routerLink="/">
                            Dashboard
                        </button>
                        <worklog-add></worklog-add>
                    </div>
                    <div class="col-xs-2">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle"
                                    type="button"
                                    id="userButton"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false">
                                {{currentUser.username}}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="userButton">
                                <li>
                                    <a routerLink="settings">Settings</a>
                                </li>
                                <li>
                                    <a (click)="logout()" href="#">Logout</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div id="logged-out-header" *ngIf="!currentUser"></div>
            </header>
        </div>
    </div>

    <div id="content" class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>