$background-panel-heading: #F5F5F5;

.panel {
  .panel-heading, .panel-footer {
    background-color: $background-panel-heading;
  }

  .panel-heading {
    h2 {
      font-size: 24px;
    }
  }

  .panel-body {
    label {
      font-weight: 200;
    }
  }
}