<button type="button" class="btn btn-default">
    <span class="glyphicon glyphicon-plus"></span>
    <span>Add Entry</span>
</button>

<label class="btn btn-default btn-file" title="Select csv for upload">
    <span class="glyphicon glyphicon-plus"></span> Upload csv
    <input type="file" ng2FileSelect [uploader]="uploader" hidden/>
</label>

<button *ngIf="uploader.getNotUploadedItems().length > 0"
        type="button"
        class="btn btn-success"
        (click)="uploader.uploadAll()">
    Upload
</button>
<button *ngIf="uploader.getNotUploadedItems().length > 0"
        type="button"
        class="btn btn-danger"
        (click)="uploader.clearQueue()">
    Cancel
</button>
<span *ngIf="uploader.getNotUploadedItems().length > 0">
            {{uploader.getNotUploadedItems()[0].file.name}}
</span>